@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --font-poppins: Poppins;
  --font-raleway: Raleway;
}

.about-page-container {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
}

.about-page-container .first-half {
  width: 100%;
  display: flex;
  position: relative;
  white-space: nowrap;
  z-index: 2;
  background-color: #f5f5f5;
}

.about-page-container .first-half .water-mark-1 {
  color: rgba(187, 199, 183, 0.3);
  font-family: var(--font-raleway);
  font-size: 15vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  left: 35%;
  z-index: 1;
}

.about-page-container .first-half .information-container {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  z-index: 2;
  background: transparent;
}

.about-page-container .first-half .image-container {
  width: 40%;
  background-color: #5c7b52;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.about-page-container .first-half .image-container img {
  width: 90%;
}

.about-page-container .first-half .information-container .page-content {
  height: fit-content;
  width: 50vw;
  white-space: normal;
}

.about-page-container
  .first-half
  .information-container
  .page-content:nth-child(1) {
  color: #1e211d;
  font-family: var(--font-raleway);
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-page-container
  .first-half
  .information-container
  .page-content
  div:nth-child(1)
  span {
  color: #1d4a0e;
}

.about-page-container
  .first-half
  .information-container
  .page-content
  div:nth-child(2)
  div {
  color: #1e211d;
  font-family: var(--font-raleway);
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.about-page-container
  .first-half
  .information-container
  .page-content
  .buttons {
  margin-top: 0px;
}

.about-page-container .first-half .information-container .page-content button {
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  gap: 10px;
  font-size: 1.2vw;
  font-family: var(--font-raleway);
  cursor: pointer;
}

.about-page-container
  .first-half
  .information-container
  .page-content
  button:nth-child(1) {
  background-color: rgba(29, 74, 14, 1);
  color: rgba(245, 245, 245, 1);
}

.about-page-container
  .first-half
  .information-container
  .page-content
  button:nth-child(2) {
  background-color: transparent;
  border: 1px solid rgba(92, 123, 82, 1);
  color: rgba(92, 123, 82, 1);
  margin-left: 20px;
}

.about-page-container .second-half {
  width: 100%;
  display: flex;
}

.about-page-container .second-half .mobile-letter{
display: none;
}

.about-page-container .second-half .right {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.about-page-container .second-half .left {
  background-color: #5c7b52;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-page-container .first-half .water-mark-2 {
  color: rgba(187, 199, 183, 0.3);
  font-family: var(--font-raleway);
  font-size: 18vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 68%;
  left: 2%;
}

.about-page-container .second-half .project-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.about-page-container .second-half .project-container .project-title {
  color: #fff;
  font-family: var(--font-raleway);
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-page-container
  .second-half
  .project-container
  .image-description-container {
  display: flex;
  white-space: normal;
  align-items: center;
  width: 70%;
}

.about-page-container
  .second-half
  .project-container
  .image-description-container {
  margin-top: 10px;
}

.about-page-container
  .second-half
  .project-container
  .image-description-container
  .project-description {
  margin-left: 10px;
  color: #fff;
  font-family: var(--font-raleway);
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-page-container
  .second-half
  .right
  .project-container
  .image-description-container
  .project-description {
  color: #1e211d;
}

.about-page-container .second-half .right .project-container .project-title {
  color: #1e211d;
  font-family: var(--font-raleway);
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .about-page-container {
    overflow-x: hidden;
  }
  .about-page-container .first-half {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .about-page-container .first-half .information-container {
    width: 100vw;
  }

  .about-page-container .first-half .information-container .page-content {
    width: 90vw;
    white-space: normal;
  }

  .about-page-container
    .first-half
    .information-container
    .page-content:nth-child(1) {
    font-size: 8vw;
  }

  .about-page-container
    .first-half
    .information-container
    .page-content
    div:nth-child(2)
    div {
    font-size: 3.6vw;
    margin-top: 20px;
  }

  .about-page-container
    .first-half
    .information-container
    .page-content
    .buttons {
    margin-top: 10px;
  }

  .about-page-container
    .first-half
    .information-container
    .page-content
    button {
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 3.5vw;
  }
  .about-page-container .first-half .image-container {
    height: 50vh;
    width: 100vw;
    margin-top: 70px;
    overflow: hidden;
  }

  .about-page-container .first-half .image-container img {
    width: 100%;
    height: 150%;
  }

  .about-page-container .first-half .water-mark-1 {
    font-size: 28vw;
    bottom: 51vh;
    left: 0;
    line-height: 0.5;
    transform: translateX(-6vw);
  }

  .about-page-container .second-half {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-page-container .second-half .right {
    width: 100%;
    padding-top: 0;
    padding-bottom: 50px;
  background-color: #5c7b52;
  }

  .about-page-container .second-half .left {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
  }

  .about-page-container .second-half .mobile-letter{
    display: block;
  }

  .about-page-container .second-half .desktop-letter{
    display: none;
  }

  .about-page-container .first-half .water-mark-2 {
    font-size: 29vw;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-page-container .second-half .project-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .about-page-container .second-half .project-container .project-title {
    font-size: 8vw;
    color: #1E211D;
  }

  .about-page-container .second-half .right .project-container .project-title{
    color: white;
  }

  .about-page-container
    .second-half
    .project-container
    .image-description-container {
    display: flex;
    white-space: normal;
    width: 95%;
  }
  .about-page-container
    .second-half
    .project-container
    .image-description-container {
    height: 100%;
    margin-top: 10px;
  }

  .about-page-container
    .second-half
    .project-container
    .image-description-container
    .project-image
    img {
    width: 4em;
  }

  .about-page-container
    .second-half
    .project-container
    .image-description-container
    .project-description {
    margin-left: 10px;
    font-size: 3.5vw;
  }

  .about-page-container
    .second-half
    .right
    .project-container
    .image-description-container
    .project-description {
    font-size: 3.5vw;
  }

  .about-page-container
  .second-half
  .right
  .project-container
  .image-description-container
  .project-description {
    color: white;
}

.about-page-container
  .second-half
  .left
  .project-container
  .image-description-container
  .project-description {
    color: #5c7b52;
}

  .about-page-container .second-half .right .project-container .project-title {
    font-size: 8vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .about-page-container .first-half {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .about-page-container .first-half .information-container {
    height: 100%;
    width: 100vw;
  }

  .about-page-container .first-half .information-container .page-content {
    width: 90vw;
    white-space: normal;
  }

  .about-page-container
    .first-half
    .information-container
    .page-content:nth-child(1) {
    font-size: 8vw;
  }

  .about-page-container
    .first-half
    .information-container
    .page-content
    div:nth-child(2)
    div {
    font-size: 3.6vw;
    margin-top: 20px;
  }

  .about-page-container
    .first-half
    .information-container
    .page-content
    .buttons {
    margin-top: 10px;
  }

  .about-page-container
    .first-half
    .information-container
    .page-content
    button {
    width: 25vw;
    height: 55px;
    padding: 10px;
    border-radius: 3px;
    font-size: 3.5vw;
  }
  .about-page-container .first-half .image-container {
    height: 50vh;
    width: 100vw;
    margin-top: 100px;
    z-index: 1;
  }

  .about-page-container .first-half .image-container img {
    width: 35rem;
  }

  .about-page-container .first-half .water-mark-1 {
    font-size: 36vw;
    bottom: 42vh;
    left: 0;
    z-index: 0;
    transform: translateX(-40px);
  }

  .about-page-container .second-half {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-page-container .second-half .right {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: #5c7b52;
  }

  .about-page-container .second-half .left {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
  }

  .about-page-container .first-half .water-mark-2 {
    font-size: 35vw;
    top: 90%;
    left: -3%;
    z-index: 1;
  }

  .about-page-container
  .second-half
  .right
  .project-container
  .image-description-container
  .project-description {
    color: white;
}

.about-page-container
  .second-half
  .left
  .project-container
  .image-description-container
  .project-description {
    color: #5c7b52;
}
  
.about-page-container .second-half .right .project-container .project-title{
  color: white;
}

.about-page-container .second-half .left .project-container .project-title{
  color: #1E211D;
}

  .about-page-container .second-half .project-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  
  .about-page-container .second-half .mobile-letter{
    display: block;
  }

  .about-page-container .second-half .desktop-letter{
    display: none;
  }

  .about-page-container .second-half .project-container .project-title {
    font-size: 6vw;
  }

  .about-page-container
    .second-half
    .project-container
    .image-description-container {
    display: flex;
    white-space: normal;
    width: 100%;
  }
  .about-page-container
    .second-half
    .project-container
    .image-description-container {
    height: 100%;
    margin-top: 5px;
  }

  .about-page-container
    .second-half
    .project-container
    .image-description-container
    .project-image
    img {
    width: 6em;
  }

  .about-page-container
    .second-half
    .project-container
    .image-description-container
    .project-description {
    margin-left: 10px;
    font-size: 3vw;
  }

  .about-page-container
    .second-half
    .right
    .project-container
    .image-description-container
    .project-description {
    font-size: 3vw;
  }

  .about-page-container .second-half .right .project-container .project-title {
    font-size: 6vw;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}