@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --font-poppins: Poppins;
  --font-raleway: Raleway;
}

.contact-page-container {
  width: 100vw;
  display: flex;
  position: relative;
  white-space: nowrap;
  overflow: auto;
}

.contact-page-container .social-media-icons {
  width: 18%;
  position: relative;
  overflow-y: hidden;
  flex: 1;
}

.contact-page-container .social-media-icons div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: -5%;
  flex: 1;
}
.contact-page-container .social-media-icons a{
  margin: 0 auto;
}

.contact-page-container .social-media-icons a img {
  margin: 0 auto;
  width: 9vw;
  height: 9vw;
}

.contact-page-container .contact-section {
  width: 82%;
  display: flex;
}

.contact-page-container .contact-section .form-container {
  width: 75%;
  min-height: 100vh;
  max-height: 100%;
  background-color: #5c7b52;
  display: flex;
  justify-content: center;
  white-space: wrap;
  padding-bottom: 40px;
}

.contact-page-container .contact-section .image {
  width: 25%;
  height: 100%;
  background-image: url("C:\Users\Ismail\Desktop\ClientProject1\client\src\assets\contactImage.svg");
  background-size: cover;
}

.contact-page-container .contact-section .image img {
  width: 100%;
  height: 100%;
}

.contact-page-container .contact-section .form-container form {
  width: 100%;
  background-color: black;
  border-radius: 10px;
  border: 1px dashed #fff;
  background: rgba(255, 255, 255, 0);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.contact-page-container .contact-section .form-container div {
  margin-top: 6vw;
  width: 85%;
}

.contact-page-container .contact-section .form-container .contact-prompt {
  width: 100%;
  color: #fff;
  font-family: Raleway;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: normal;
  z-index: 2;
}

.contact-page-container .contact-section .form-container form label {
  color: #fff;
  text-align: justify;
  font-family: var(--font-raleway);
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.contact-page-container .contact-section .form-container form input {
  border-radius: 6px;
  margin-left: 40px;
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 10px 5px;
  color: #fff;
  text-align: justify;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-page-container .contact-section .form-container form input:focus{
  outline: 1px solid white;
}

.contact-page-container .contact-section .form-container form textarea {
  border-radius: 6px;
  margin-left: 40px;
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  max-height: 90px;
  min-height: 90px;
  color: #fff;
  text-align: justify;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-page-container .contact-section .form-container form textarea:focus{
  outline: 1px solid white;
}

.contact-page-container
  .contact-section
  .form-container
  form
  input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-align: justify;
  font-family: var(--font-raleway);
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-page-container
  .contact-section
  .form-container
  form
  textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-align: justify;
  font-family: var(--font-raleway);
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-page-container .contact-section .form-container form button {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #1d4a0e;
  font-family: var(--font-raleway);
  width: fit-content;
  margin-left: 40px;
  margin-top: 20px;
  border: none;
  color: #f5f5f5;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.contact-page-container .water-mark-1 {
  position: absolute;
  color: rgba(187, 199, 183, 0.3);
  font-family: Raleway;
  font-size: 16vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  left: -5%;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .contact-page-container {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    padding-top: 100px;
    overflow-x: hidden;
  }

  .contact-page-container .social-media-icons {
    width: 100%;
    height: 25vw;
    position: relative;
    overflow-y: visible;
    flex: auto;
  }

  .contact-page-container .social-media-icons div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
  }

  .contact-page-container .social-media-icons a img {
    margin: 0 auto;
    width: 25vw;
    height: 25vw;
  }

  .contact-page-container .contact-section {
    width: 100%;
    flex-direction: column;
  }

  .contact-page-container .contact-section .form-container {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    min-height: 100%;
    background-color: #5c7b52;
    display: flex;
    justify-content: center;
    white-space: wrap;
    padding-bottom: 20px;
  }

  .contact-page-container .contact-section .image {
    width: 100%;
    height: 200px;
    background-image: url("C:\Users\Ismail\Desktop\ClientProject1\client\src\assets\contactImageMobile.jpg");
    background-size: cover;
  }

  .contact-page-container .contact-section .image img {
    width: 100%;
    height: 100%;
  }

  .contact-page-container .contact-section .form-container form {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
  }

  .contact-page-container .contact-section .form-container div {
    margin-top: 30px;
    width: 90%;
    font-family: var(--font-raleway);
    font-size: 8vw;
  }

  .contact-page-container .contact-section .form-container form label {
    font-size: 5vw;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
  }

  .contact-page-container .contact-section .form-container form input {
    margin-left: 20px;
    width: 85%;
    padding: 10px 5px;
  }

  .contact-page-container .contact-section .form-container form textarea {
    margin-left: 20px;
    width: 90%;
    max-height: 100px;
    min-height: 100px;
  }

  .contact-page-container
    .contact-section
    .form-container
    form
    input::placeholder {
    font-size: 4vw;
  }

  .contact-page-container
    .contact-section
    .form-container
    form
    textarea::placeholder {
    font-size: 4vw;
  }

  .contact-page-container .contact-section .form-container form button {
    width: 45vw;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 4vw;
  }

  .contact-page-container .water-mark-1 {
    color: rgba(187, 199, 183, 0.3);
    font-family: var(--font-raleway);
    font-size: 27vw;
    left: -5%;
    top: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .contact-page-container {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    padding-top: 200px;
    overflow-x: hidden;
  }

  .contact-page-container .social-media-icons {
    width: 100%;
    height: 25vw;
    position: relative;
    overflow: visible;
    margin-bottom: 20vw;
  }

  .contact-page-container .social-media-icons div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
  }

  .contact-page-container .social-media-icons a img {
    margin: 0 auto;
    width: 20vw;
    height: 20vw;
  }

  .contact-page-container .contact-section {
    width: 100%;
    flex-direction: column;
  }

  .contact-page-container .contact-section .form-container {
    width: 100%;
    height: fit-content;
    background-color: #5c7b52;
    display: flex;
    justify-content: center;
    white-space: wrap;
    padding-bottom: 20px;
    min-height: 0;
  }

  .contact-page-container .contact-section .image {
    width: 100%;
    height: 200px;
    background-image: url("C:\Users\Ismail\Desktop\ClientProject1\client\src\assets\contactImageMobile.jpg");
    background-size: cover;
  }

  .contact-page-container .contact-section .image img {
    width: 100%;
    height: 100%;
  }

  .contact-page-container .contact-section .form-container form {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
  }

  .contact-page-container .contact-section .form-container div {
    margin-top: 30px;
    width: 90%;
    font-family: var(--font-raleway);
    font-size: 8vw;
  }

  .contact-page-container .contact-section .form-container form label {
    font-size: 4vw;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
  }

  .contact-page-container .contact-section .form-container form input {
    margin-left: 20px;
    width: 85%;
    padding: 20px 5px;
  }

  .contact-page-container .contact-section .form-container form textarea {
    margin-left: 20px;
    width: 90%;
    max-height: 100px;
    min-height: 100px;
  }

  .contact-page-container
    .contact-section
    .form-container
    form
    input::placeholder {
    font-size: 4vw;
  }

  .contact-page-container
    .contact-section
    .form-container
    form
    textarea::placeholder {
    font-size: 4vw;
  }

  .contact-page-container .contact-section .form-container form button {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 3vw;
    padding: 10px 15px;
  }

  .contact-page-container .water-mark-1 {
    color: rgba(187, 199, 183, 0.3);
    font-family: var(--font-raleway);
    font-size: 27vw;
    left: -5%;
    top: 0px;
  }
}
