@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --font-poppins: Poppins;
  --font-raleway: Raleway;
}

.LandingPageContainer {
  width: 100vw;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.LandingPageContainer .InformationContainer {
  width: 60vw;
  height: fit-content;
  display: flex;
  padding-top: 0;
  position: relative;
  flex-direction: column;
}

.LandingPageContainer .ImageContainer {
  width: 40vw;
  background-color: rgba(92, 123, 82, 1);
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex: 1;
  overflow: hidden;
  align-items: flex-end;
}

.LandingPageContainer .ImageContainer .Image {
  display: flex;
  align-items: flex-end;
}

.LandingPageContainer .ImageContainer .Image img{
  width: 50vw;
  height: 70%;
  transform: translateX(-10%) translateY(10px);

}

.LandingPageContainer .InformationContainer .SiteInfo {
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  margin-top: 100px;

}

.LandingPageContainer .InformationContainer .SiteInfo div:nth-child(1) {
  font-family: var(--font-raleway);
  font-size: 6.5vw;
  font-weight: 700;
  line-height:initial;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(30, 33, 29, 1);
}

.LandingPageContainer .InformationContainer .SiteInfo div:nth-child(1) span {
  color: rgba(29, 74, 14, 1);
}

.LandingPageContainer .InformationContainer .SiteInfo div:nth-child(2) {
  font-family: var(--font-raleway);
  font-size: 1.5vw;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(30, 33, 29, 1);
  margin-top: 20px;
}

.LandingPageContainer .InformationContainer .SiteInfo .buttons {
  margin-top: 30px;
}

.LandingPageContainer .InformationContainer .SiteInfo button {
  border: none;
  
  padding: 10px 20px;
  border-radius: 6px;
  gap: 10px;
  font-size: 1vw;
  font-family: var(--font-raleway);
  cursor: pointer;
}

.LandingPageContainer .InformationContainer .SiteInfo button:nth-child(1) {
  background-color: rgba(29, 74, 14, 1);
  color: rgba(245, 245, 245, 1);
}

.LandingPageContainer .InformationContainer .SiteInfo button:nth-child(2) {
  background-color: transparent;
  border: 1px solid rgba(92, 123, 82, 1);
  color: rgba(92, 123, 82, 1);
  margin-left: 20px;
}

.LandingPageContainer .InformationContainer .water-mark {
  color: rgba(187, 199, 183, 0.3);
  font-family: var(--font-raleway);
  font-size: 15vw;
  font-style: normal;
  font-weight: 700;
  line-height: .8;
  z-index: 0;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .LandingPageContainer {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .LandingPageContainer .InformationContainer {
    width: 100vw;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    
  }

  .LandingPageContainer .ImageContainer {
    width: 100vw;
    background-color: rgba(92, 123, 82, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    min-height: fit-content;
  max-height: fit-content;
  flex: 1;
  }
  .LandingPageContainer .ImageContainer .Image {
    /* max-height: 100%;
    min-height: 100%; */
    /* width: fit-content;
    height: fit-content; */
    margin: 0 auto;
    transform: translateY(0px);
    display: flex;
    justify-content: center;
  }

  .LandingPageContainer .ImageContainer .Image img{
    width: 100%;
    height: 100%;
    transform: translateX(0px);

  }
  

  .LandingPageContainer .InformationContainer .SiteInfo {
    width: 90vw;
    margin: 0 auto;
    height: 80%;
    margin-top: 30px;
    height: fit-content;
    z-index: 0;
  }

  .LandingPageContainer .InformationContainer .SiteInfo div:nth-child(1) {
    font-family: var(--font-raleway);
    font-size: 13vw;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(30, 33, 29, 1);
  }

  .LandingPageContainer .InformationContainer .SiteInfo div:nth-child(1) span {
    color: rgba(29, 74, 14, 1);
  }

  .LandingPageContainer .ImageContainer .Image img{
    width: 100%;
    height: 100%;
  }
  

  .LandingPageContainer .InformationContainer .SiteInfo div:nth-child(2) {
    font-family: var(--font-raleway);
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(30, 33, 29, 1);
    margin-top: 1vh;
  }

  .LandingPageContainer .InformationContainer .SiteInfo .buttons {
    margin-top: 1.2vh;
  }

  .LandingPageContainer .InformationContainer .SiteInfo button {
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    border-radius: 6px;
    gap: 10px;
    font-size: 3vw;
    font-family: var(--font-raleway);
    cursor: pointer;
  }

  .LandingPageContainer .InformationContainer .SiteInfo button:nth-child(1) {
    background-color: rgba(29, 74, 14, 1);
    color: rgba(245, 245, 245, 1);
    cursor: pointer;
  }

  .LandingPageContainer .InformationContainer .SiteInfo button:nth-child(2) {
    background-color: transparent;
    border: 1px solid rgba(92, 123, 82, 1);
    color: rgba(92, 123, 82, 1);
    margin-left: 20px;
    cursor: pointer;
  }

  .LandingPageContainer .InformationContainer .water-mark {
    font-size: 20vw;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    z-index: 0;
    transform: translateY(35px);
  }

}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .LandingPageContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .LandingPageContainer .InformationContainer {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 70px;
  }

  .LandingPageContainer .ImageContainer {
    width: 100vw;
    height: 42vh;
    background-color: rgba(92, 123, 82, 1);
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 0;
    min-height: 60vh;
  max-height: 60vh;
  }
  .LandingPageContainer .ImageContainer .Image {
    height: 100%;
    width: 70%;
    margin: 0 auto;
  }

  .LandingPageContainer .ImageContainer .Image img{
    width: 70%;
    transform: translate(20px, 60px);
    position: initial;

  }

  
  .LandingPageContainer .InformationContainer .SiteInfo {
    width: 90vw;
    margin: 0 auto;
    height: 80%;
    margin-top: 30px;
    height: fit-content;
  }

  .LandingPageContainer .InformationContainer .SiteInfo div:nth-child(1) {
    font-family: var(--font-raleway);
    font-size: 8vw;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(30, 33, 29, 1);
  }

  .LandingPageContainer .InformationContainer .SiteInfo div:nth-child(1) span {
    color: rgba(29, 74, 14, 1);
  }

  .LandingPageContainer .InformationContainer .SiteInfo div:nth-child(2) {
    font-family: var(--font-raleway);
    font-size: 3vw;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(30, 33, 29, 1);
    margin-top: 1vh;
  }

  .LandingPageContainer .InformationContainer .SiteInfo .buttons {
    margin-top: 6vh;
  }

  .LandingPageContainer .InformationContainer .SiteInfo button {
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    border-radius: 6px;
    gap: 10px;
    font-size: 3vw;
    font-family: var(--font-raleway);
  }

  .LandingPageContainer .InformationContainer .SiteInfo button:nth-child(1) {
    background-color: rgba(29, 74, 14, 1);
    color: rgba(245, 245, 245, 1);
  }

  .LandingPageContainer .InformationContainer .SiteInfo button:nth-child(2) {
    background-color: transparent;
    border: 1px solid rgba(92, 123, 82, 1);
    color: rgba(92, 123, 82, 1);
    margin-left: 20px;
  }

  
}
