@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --font-poppins: Poppins;
  --font-raleway: Raleway;
}

.service-page-container {
  width: 100vw;
  height: fit-content;
  display: flex;
  position: relative;
  align-items: stretch;
}

.service-page-container .Left {
  width: 50vw;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.service-page-container .Right {
  width: 50vw;
  max-height: 100%;
  min-height: 100vh;
  background-color: rgba(92, 123, 82, 1);
  display: flex;
  justify-content: center;
  flex: 1;
}

.service-page-container .Left .content {
  margin-top: 80px;
  width: 85%;
}

.service-page-container .Left .content div:nth-child(1) {
  color: #1e211d;
  font-family: var(--font-raleway);
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service-page-container .Left .content div:nth-child(2) div {
  color: #1e211d;
  text-align: justify;
  font-family: var(--font-raleway);
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}

.service-page-container .Left .content div:nth-child(2) div:nth-child(1) span {
  font-size: 1.7vw;
  font-weight: 700;
}

.service-page-container .Left .content .paragraphs .paragraph .title{
  font-weight: 700;
  margin-top: 25px;
}

.service-page-container .Left .content .paragraphs .paragraph .text{
  margin-top: 0;
}

.service-page-container .Left .content div:nth-child(2) span {
  color: #1e211d;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service-page-container .Left .content button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #5c7b52;
  color: #5c7b52;
  font-family: var(--font-raleway);
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  background: transparent;
  cursor: pointer;
}

.service-page-container .Right .content {
  margin-top: 14vw;
  width: 85%;
}

.service-page-container .Right .content div:nth-child(1) {
  color: #fff;
  font-family: var(--font-raleway);
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service-page-container .Right .content div:nth-child(2) div {
  color: #fff;
  text-align: justify;
  font-family: var(--font-raleway);
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.service-page-container .Right .content div:nth-child(2) div span {
  font-size: 1.3vw;
  font-weight: 700;
}

.service-page-container .Right .content button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  font-family: var(--font-raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  margin-top: 20px;
  cursor: pointer;
}

.service-page-container .water-mark-1 {
  position: absolute;
  color: rgba(187, 199, 183, 0.3);
  font-family: var(--font-raleway);
  font-size: 15vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  left: 35%;
  top: -2%;
}

.service-page-container .Right .content img {
  width: 100%;
  margin: 45px 0;
}

@media screen and (max-width: 600px) {
  .service-page-container {
    width: 100vw;
    height: fit-content;
    display: flex;
    position: relative;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .service-page-container .Left {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    white-space: normal;
  }

  .service-page-container .Right {
    width: 100vw;
    max-height: 100%;
    min-height: 100%;
    height: fit-content;
    padding-bottom: 30px;
    white-space: normal;
  }

  .service-page-container .Left .content {
    margin-top: 80px;
    width: 90%;
  }

  .service-page-container .Left .content div:nth-child(1) {
    font-size: 8vw;
  }

  .service-page-container .Left .content div:nth-child(2) div {
    font-size: 3.5vw;
    text-align: left;
  }

  .service-page-container
    .Left
    .content
    div:nth-child(2)
    div:nth-child(1)
    span {
    font-size: 5.5vw;
  }

  .service-page-container .Left .content div:nth-child(2) span {
    font-size: 4vw;
  }

  .service-page-container .Left .content button {
    display: flex;
    padding: 7px 15px;

    font-size: 4vw;
  }

  .service-page-container .Right .content {
    margin-top: 50px;
    width: 85%;
  }

  .service-page-container .Right .content div:nth-child(1) {
    font-size: 7vw;
  }

  .service-page-container .Right .content div:nth-child(2) div {
    font-size: 4vw;
  }

  .service-page-container .Right .content div:nth-child(2) div span {
    font-size: 4vw;
  }

  .service-page-container .Right .content button {
    display: flex;
    padding: 7px 15px;
    font-size: 4vw;
    margin-top: 20px;
  }

  .service-page-container .water-mark-1 {
    font-size: 28vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left: -8%;
    top: 1%;
  }

  .service-page-container .Right .content img {
    width: 100%;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .service-page-container {
    width: 100vw;
    height: fit-content;
    display: flex;
    position: relative;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .service-page-container .Left {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    white-space: normal;
  }

  .service-page-container .Right {
    width: 100vw;
    height: fit-content;
    padding-bottom: 30px;
    white-space: normal;
  }

  .service-page-container .Left .content {
    margin-top: 80px;
    width: 85%;
  }

  .service-page-container .Left .content div:nth-child(1) {
    font-size: 8vw;
  }

  .service-page-container .Left .content div:nth-child(2) div {
    font-size: 3.5vw;
  }

  .service-page-container
    .Left
    .content
    div:nth-child(2)
    div:nth-child(1)
    span {
    font-size: 5.5vw;
  }

  .service-page-container .Left .content div:nth-child(2) span {
    font-size: 4vw;
  }

  .service-page-container .Left .content button {
    display: flex;
    padding: 10px;

    font-size: 4vw;
  }

  .service-page-container .Right .content {
    margin-top: 50px;
    width: 90%;
  }

  .service-page-container .Right .content div:nth-child(1) {
    font-size: 7vw;
  }

  .service-page-container .Right .content div:nth-child(2) div {
    font-size: 3.5vw;
  }

  .service-page-container .Right .content div:nth-child(2) div span {
    font-size: 3.5vw;
  }

  .service-page-container .Right .content button {
    display: flex;
    padding: 10px;
    font-size: 4vw;
    margin-top: 20px;
  }

  .service-page-container .water-mark-1 {
    font-size: 28vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left: -8%;
    top: 1%;
  }

  .service-page-container .Right .content img {
    width: 100%;
    margin-bottom: 0;
  }
}
