@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --font-poppins: Poppins;
  --font-raleway: Raleway;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  line-height: normal;
}

.PageHeader {
    width: 100vw;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    z-index: 5;
  }
  
  .PageHeader .NavBar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 10px;
  }
  
  .PageHeader .NavBar ul li {
    margin-left: 4vw;
    font-family: var(--font-raleway);
    color: rgba(30, 33, 29, 1);
    font-size: 1.1vw;
    cursor: pointer;
  }
  
  .PageHeader .NavBar li:nth-child(4) {
    color: rgba(245, 245, 245, 1);
  }
  
  .PageHeader .Logo {
    margin-left: 70px;
    cursor: pointer;
  }
  .PageHeader .MobileNav {
    display: none;
  }
  
  .PageHeader .ExternalLink {
    margin-right: 50px;
    cursor: pointer;
  }
  
  .PageHeader .ExternalLink .ExternalLogo {
    height: 3em;
  }

  .MobileNavBar {
    display: none;
  }



  @media screen and (max-width: 600px) {

    body{
      overflow-x: hidden;
    }

    .PageHeader {
        width: 100vw;
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
    
      .PageHeader .NavBar ul {
        display: none;
      }
    
      .PageHeader .Logo {
        margin-left: 20px;
        cursor: pointer;
        width: 10vw;
        height: 10vw;
      }
    
      .PageHeader .Logo .SiteLogo {
        height: 2em;
      }
    
      .PageHeader .MobileNav {
        display: contents;
      }
    
      .PageHeader .MobileNav .icon {
        margin-right: 20px;
      }
    
      .ExternalLink {
        display: none;
      }
      .MobileNavBar {
        width: 100vw;
        height:fit-content;
        background-color: rgba(92, 123, 82, 1);
        position: absolute;
        top: 70px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in;
        z-index: 3;
        overflow: hidden;
      }
    
      .MobileNavBar ul {
        height: fit-content;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0;
      }

      .MobileNavBar ul img{
        margin-top: 10px;
      }
    
      .MobileNavBar ul li {
        font-family: var(--font-raleway);
        font-size: 4vw;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 3vw;
        color: rgba(255, 255, 255, 1);
      }
    
      .MobileNavClosed {
        transform: scaleX(-1);
        transform: translateX(100%);
        width: 0vw;
       /* left: 100%; */
        opacity: 0.5;
        
      }
    
      .MobileNavOpen {
        transform: translateX(0);
        /* left: 0; */
        opacity: 1;
        width: 100vw;
      }
    
      .PageHeader .shift-mobile-nav {
        margin-right: -30px;
        transform: translateX(50vw);
      }

  }

  @media only screen and (min-width: 600px) and (max-width: 1000px) {

    
    .PageHeader {
      width: 100vw;
      position: absolute;
      top: 0%;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  
    .PageHeader .NavBar ul {
      display: none;
    }
  
    .PageHeader .Logo {
      margin-left: 20px;
      cursor: pointer;
      width: 10vw;
      height: 10vw;
    }
  
    .PageHeader .Logo .SiteLogo {
      height: 3em;
    }
  
    .PageHeader .MobileNav {
      display: contents;
    }
  
    .PageHeader .MobileNav .icon {
      margin-right: 20px;
      width: 8vw;
      height: 8vw;
    }
  
    .ExternalLink {
      display: none;
    }
    
    .MobileNavBar {
      width: 100vw;
      height:fit-content;
      background-color: rgba(92, 123, 82, 1);
      position: absolute;
      top: 100px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in;
      z-index: 3;
      overflow: hidden;
    }
  
    .MobileNavBar ul {
      height: fit-content;
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      flex-wrap: normal;
      padding: 15px 0;
      border-bottom: 2px solid white;
    }

    .MobileNavBar ul img{
      margin-top: 0;
      width: 6rem;
    }
  
    .MobileNavBar ul li {
      font-family: var(--font-raleway);
      font-size: 3.5vw;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 3vw;
      color: rgba(255, 255, 255, 1);
    }
  
    .MobileNavClosed {
      transform: scaleX(-1);
      transform: translateX(100%);
      width: 0vw;
      opacity: 0.5;
      
    }
  
    .MobileNavOpen {
      transform: translateX(0);
      opacity: 1;
      width: 100vw;
    }
  
    .PageHeader .shift-mobile-nav {
      margin-right: -30px;
      transform: translateX(50vw);
    }

  }